body {
  /* background: gray; */
  background: white;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  height: 100vh;
  width: 300vh;
  display: flex;
  background: white;
  /* background: gray; */
}

.navBarSpace {
  height: 100vh;
  width: 5vh;
  background: transparent;
  min-width: 80px;
}
