.cards-section-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cards-section-wrapper::-webkit-scrollbar {
  display: none;
}

.infoField {
  background: lightblue;
  /* width: 23%; */
  height: 100%;
  color: BLACK;
  border-radius: 30px;
  padding: 3vh 0 2vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.companyType,
.companyCTC,
.companyDate {
  width: 20%;
}
.companyName {
  width: 35%;
}
.icon-wrapper {
  /* background-color: yellow; */
  height: 80%;
  width: 20%;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.icon {
  /* background-color: brown; */
  height: inherit;
  width: 10%;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 3rem;
  color: white;
}
.tagTitle {
  /* background-color: green; */
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

  color: grey;
  font-size: 1.4rem;
}
.line {
  background-color: white;
  height: 1%;
  width: 90%;
  /* background: transparent; */
}
.tagName {
  /* background-color: white; */
  height: 20%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

/* Company_Info_Card_2 CSS :  */
.header-wrapper {
  height: 20%;
  width: 100%;

  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.header-main {
  height: 100%;
  width: 16%;

  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
.applied_button {
  height: 80%;
  width: 7%;
  margin: 1vh 1vh 0 0;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.list-wrapper {
  height: 78%;
  width: 100%;

  background-color: transparent;
  border-radius: 30px;
  overflow: auto;
  /* margin-top: 0.5vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
